// vars
$fonts: '../fonts/';
$images: '../images/';

// fonts
$Roboto: "Roboto", sans-serif;

$breakpoints: (
	phone-xs: 375px,
	phone: 768px,
	tablet: 992px,
	desktop: 1200px,
	desktop_lg: 1400px,
);

// font settings
$grid-gutter-width: 24px;
$container-large-desktop: 1238px;

$font-family-base: $Roboto;
$font-size-base: 18px;
$line-height-base: 1.45;
$font-size-h1: 64px;
$font-size-h2: 56px;
$font-size-h3: 48px;
$font-size-h4: 40px;
$font-size-h5: 32px;
$font-size-h6: 24px;
$font-size-h7: 20px;

$paragraph-spacing: 0 0 15px;

$hover-opacity: 0.8;
$time-animation: 0.3s;

// colors
$white: #fff;
$black: #000;
$gray: #2B2B2B;

$gray_light: #A3A3A3;
$gray_light_2: #424242;
$gray_light_3: #747474;
$red: #FF452D;
$yellow: #FFCE00;
$blue: #5387FF;
$blue_2: #6EABFE;
$blue_3: #3F77FF;



$base-color: $gray_light_3;
$body-bg: $white;

$link-color: $blue;
$link-color-hover: $blue_2;

$btn-color: $white;
$btn-border-radius-base: 0;
$btn-font-size: 16px;
$btn-line-height: 20px;
$btn-font-weight: 500;